<div class="row">
    <!-- <div class="col-lg-2 col-md-3" style="background-color: rgb(247, 247, 247);"> -->
    <div class="col-lg-2 col-md-3">
        <img class="img-fluid my-2" width="100px" src="<%= user.photo %>" alt="profile-photo" data-toggle="modal"
            data-target="#uploadModal">
        <h6>
            <%= user.name %>
        </h6>
        <hr>
        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <div class="list-group">
                    <a href="/admindashboard" class="list-group-item" role="button" id="stats-btn">Stats</a>
                    <a href="/admindashboard?tab=accounts" class="list-group-item" role="button"
                        id="accounts-btn">Accounts</a>
                    <a href="/admindashboard?tab=devices" class="list-group-item" role="button"
                        id="devices-btn">Devices</a>
                    <a href="/admindashboard?tab=settings" class="list-group-item" role="button"
                        id="settings-btn">Settings</a>
                    <a href="/admindashboard?tab=logs" class="list-group-item" role="button" id="logs-btn">Logs</a>
                    <a href="/users/logout" class="list-group-item" role="button">Logout</a>
                </div>
            </nav>
        </div>
    </div>
    <div class="col-lg-10 col-md-9">
        <h1 class="mt-4">Dashboard</h1>
        <p class="lead mb-3">Welcome Admin <%= user.name %>
        </p>
        <hr>

        <% if (msg.msg_type==='success' ) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <%= msg.msg_details %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <% } %>

                <% if (msg.msg_type==='error' ) { %>
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <%= msg.msg_details %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>
                    <% } %>

                        <button type="button" class="btn btn-primary mb-3" data-toggle="modal"
                            data-target="#addUserModal" id="addNewAccountBtn" style="display: none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                class="bi bi-person-plus" viewBox="0 2 16 16">
                                <path
                                    d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                                <path fill-rule="evenodd"
                                    d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                            </svg><span class="ml-2">Add new account</span>
                        </button>


                        <table class="table table-striped table-hover table-condensed"
                            style="margin: 5px 0px 0px 0px; display: none;" id="usertable">
                            <thead>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Email</th>
                                <th scope="col">Role</th>
                                <th scope="col">Created on</th>
                                <th scope="col">Actions</th>
                            </thead>
                            <tbody>
                                <% if(users){ %>
                                    <% var i=0; %>
                                        <% users.forEach(showuser=> { %>
                                            <% i++; %>
                                                <tr>
                                                    <th scope="row">
                                                        <%= i %>
                                                    </th>
                                                    <td>
                                                        <%= showuser.name %>
                                                    </td>
                                                    <td>
                                                        <a href="/dashboard?email=<%= showuser.email %>">
                                                            <%= showuser.email %>
                                                        </a>
                                                    </td>
                                                    <td>
                                                        <%= showuser.role %>
                                                    </td>
                                                    <td>
                                                        <%= showuser.date %>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary btn-sm mb-1"
                                                            data-toggle="modal" data-target="#editModal"
                                                            onclick="editUser('<%= showuser.name %>','<%= showuser.email %>','<%= showuser.role %>')">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                height="16" fill="currentColor" class="bi bi-pencil"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                                            </svg>
                                                        </button>
                                                        <button type="button" class="btn btn-primary btn-sm"
                                                            data-toggle="modal" data-target="#deleteModal"
                                                            onclick="confirmDelete('<%= showuser.email %>')"><svg
                                                                xmlns="http://www.w3.org/2000/svg" width="16"
                                                                height="16" fill="currentColor" class="bi bi-trash"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                                <path fill-rule="evenodd"
                                                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                                            </svg></button>

                                                    </td>
                                                </tr>
                                                <% }); %>
                                                    <% } %>
                            </tbody>
                        </table>


                        <!-- Add User Modal -->
                        <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Add new account</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <form action="/admindashboard" method="GET" id="adduserform">
                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input class="form-control" type="text" name="name" id="newusername">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Email</label>
                                                <input class="form-control" type="text" name="email" id="newuseremail">
                                            </div>
                                            <div class="form-group">
                                                <label for="name">Password</label>
                                                <input class="form-control" type="text" name="password"
                                                    id="newuserpassword">
                                            </div>
                                            <div class="form-group">
                                                <label for="name">Role</label>
                                                <select class="form-control" name="role" id="newuserrole">
                                                    <option value="god">God</option>
                                                    <option value="master">Master</option>
                                                    <option value="peasant">Peasant</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="addUser()">Create
                                            account</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Edit User Modal -->
                        <div class="modal fade" id="editModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Edit user account</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <form action="/admindashboard" method="GET" id="edituserform">
                                            <input type="hidden" name="email" id="email">
                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input class="form-control" type="text" name="name" id="name">
                                            </div>
                                            <div class="form-group">
                                                <label for="name">Password</label>
                                                <input class="form-control" type="text" name="password" id="password">
                                            </div>
                                            <div class="form-group">
                                                <label for="name">Role</label>
                                                <select class="form-control" name="role" id="role">
                                                    <option value="god">God</option>
                                                    <option value="master">Master</option>
                                                    <option value="peasant">Peasant</option>
                                                </select>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="saveUser()">Save
                                            changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Delete User Modal -->
                        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Delete account</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <input type="hidden" name="email" id="deleteEmail">
                                            <div class="form-group">
                                                <label id="deleteemaillable">Are you sure you to delete this account (
                                                </label>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cancle</button>
                                        <button type="button" class="btn btn-primary" onclick="deleteUser()">Delete
                                            account</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Upload Profile Photo Modal -->
                        <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Change profile photo</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="uploadForm" action='/users/upload' method='POST'
                                            encType="multipart/form-data">
                                            <input type="hidden" name="email" id="uploadEmail"
                                                value="<%= user.email %>">
                                            <div class="form-group">
                                                <label for="select">Select profile photo</label>
                                                <input type="file" class="btn btn-primary" name="sampleFile" />
                                                <!-- <input type='submit' class="btn btn-primary" value='Upload' />  -->
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cancle</button>
                                        <button type="button" class="btn btn-primary" onclick="uploadPhoto()">Upload
                                            photo</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <button type="button" class="btn btn-primary mb-3" data-toggle="modal"
                            data-target="#addDeviceModal" id="addNewDeviceBtn" style="display: none">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                                class="bi bi-hdd" viewBox="0 2 16 16">
                                <path
                                    d="M4.5 11a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1zM3 10.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z" />
                                <path
                                    d="M16 11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V9.51c0-.418.105-.83.305-1.197l2.472-4.531A1.5 1.5 0 0 1 4.094 3h7.812a1.5 1.5 0 0 1 1.317.782l2.472 4.53c.2.368.305.78.305 1.198V11zM3.655 4.26 1.592 8.043C1.724 8.014 1.86 8 2 8h12c.14 0 .276.014.408.042L12.345 4.26a.5.5 0 0 0-.439-.26H4.094a.5.5 0 0 0-.44.26zM1 10v1a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-1a1 1 0 0 0-1-1H2a1 1 0 0 0-1 1z" />
                            </svg><span class="ml-2">Add new Device</span>
                        </button>

                        <table class="table table-striped table-hover table-condensed"
                            style="margin: 5px 0px 0px 0px; display: none;" id="devicetable">
                            <thead>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">UUID</th>
                                <th scope="col">Status</th>
                                <th scope="col">Created on</th>
                                <th scope="col">Actions</th>
                            </thead>
                            <tbody>
                                <% if(devices){ %>
                                    <% var i=0; %>
                                        <% devices.forEach(showdevice=> { %>
                                            <% i++; %>
                                                <tr>
                                                    <th scope="row">
                                                        <%= i %>
                                                    </th>
                                                    <td>
                                                        <%= showdevice.name %>
                                                    </td>
                                                    <td>
                                                        <%= showdevice.uuid %>
                                                    </td>
                                                    <td>
                                                        <%= showdevice.email %>
                                                    </td>
                                                    <td>
                                                        <%= showdevice.date %>
                                                    </td>
                                                    <td>
                                                        <button type="button" class="btn btn-primary btn-sm"
                                                            data-toggle="modal" data-target="#renameDeviceModal"
                                                            onclick="confirmDeviceRename('<%= showdevice.name %>', '<%= showdevice.uuid %>')">

                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                height="16" fill="currentColor" class="bi bi-pencil"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                                            </svg>
                                                        </button>
                                                        <button type="button" class="btn btn-primary btn-sm"
                                                            data-toggle="modal" data-target="#linkUnlinkDeviceModal"
                                                            onclick="confirmLinkUnlink('<%= showdevice.email %>', '<%= showdevice.uuid %>')">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                height="16" fill="currentColor" class="bi bi-link"
                                                                viewBox="1 3 14 14">
                                                                <path
                                                                    d="M6.354 5.5H4a3 3 0 0 0 0 6h3a3 3 0 0 0 2.83-4H9c-.086 0-.17.01-.25.031A2 2 0 0 1 7 10.5H4a2 2 0 1 1 0-4h1.535c.218-.376.495-.714.82-1z" />
                                                                <path
                                                                    d="M9 5.5a3 3 0 0 0-2.83 4h1.098A2 2 0 0 1 9 6.5h3a2 2 0 1 1 0 4h-1.535a4.02 4.02 0 0 1-.82 1H12a3 3 0 1 0 0-6H9z" />
                                                            </svg>
                                                        </button>
                                                        <hr>
                                                        <button type="button" class="btn btn-primary btn-sm"
                                                            data-toggle="modal" data-target="#lockunlockDeviceModal"
                                                            onclick="confirmLockUnlock('<%= showdevice.email %>', '<%= showdevice.uuid %>')">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                                                height="16" fill="currentColor" class="bi bi-lock"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z" />
                                                            </svg>
                                                        </button>
                                                        <button type="button" class="btn btn-primary btn-sm"
                                                            data-toggle="modal" data-target="#deleteDeviceModal"
                                                            onclick="confirmDeviceDelete('<%= showdevice.uuid %>')"><svg
                                                                xmlns="http://www.w3.org/2000/svg" width="16"
                                                                height="16" fill="currentColor" class="bi bi-trash"
                                                                viewBox="0 0 16 16">
                                                                <path
                                                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                                <path fill-rule="evenodd"
                                                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                                            </svg></button>

                                                    </td>
                                                </tr>
                                                <% }); %>
                                                    <% } %>
                            </tbody>
                        </table>


                        <div class="logs-container" id="logs_container">
                            <select class="log-select" name="log" id="log_select">
                                <option value="system">System</option>
                                <option value="users">Users</option>
                                <option value="devices">Devices</option>
                                <option value="data">Data</option>
                            </select>
                            <input type="text" id="uuid_log_search" style="display: none;">
                            <input class="log-date" type="date" id="log_date">

                            <i class="fas fa-search" id="search_icon"></i>

                            <hr>

                            <div class="loader-container" id="loader_container"><div class="lds-ripple"><div></div><div></div></div></div>                            

                            <h4 id="logerrormsg" style="display: none;"></h4>

                            <table class="table table-striped table-hover table-condensed log-table"
                                style="margin: 5px 0px 0px 0px; display: none;" id="systemlogtable">
                            </table>
                        </div>


                        <!-- Add Device Modal -->
                        <div class="modal fade" id="addDeviceModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Add new device</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">

                                        <form action="/admindashboard" method="GET" id="adduserform">
                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input class="form-control" type="text" name="name" id="newdevicename">
                                            </div>
                                            <div class="form-group">
                                                <label for="uuid">UUID</label>
                                                <input class="form-control" type="text" name="uuid" id="newdeviceuuid">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="addDevice()">Add
                                            device</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Rename Device Modal -->
                        <div class="modal fade" id="renameDeviceModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Rename device</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="/admindashboard" method="GET" id="renamedeviceform">
                                            <input type="hidden" name="uuid" id="renameuuid">
                                            <div class="form-group">
                                                <label for="name">Name</label>
                                                <input class="form-control" type="text" name="name"
                                                    id="devicerenameinput">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" onclick="renameDevice()">Save
                                            changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Delete Device Modal -->
                        <div class="modal fade" id="deleteDeviceModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Delete device</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <input type="hidden" name="uuid" id="deleteuuid">
                                            <div class="form-group">
                                                <label id="deleteuuidlable">Are you sure you to delete this device (</label>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cancle</button>
                                        <button type="button" class="btn btn-primary" onclick="deleteDevice()">Delete
                                            device</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Link/Unlink Device Modal -->
                        <div class="modal fade" id="linkUnlinkDeviceModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Link / Unlink device</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <input type="hidden" name="uuid" id="linkunlinkuuid">
                                            <input type="hidden" name="status" id="linkunlinkstatus">

                                            <div class="form-group">
                                                <label id="linkunlinklable"></label>
                                                <input type="hidden" name="email" id="linkunlinkemail"
                                                    class="form-control">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Cancle</button>
                                        <button type="button" class="btn btn-primary" onclick="linkUnlinkDevice()"
                                            id="linkunlinksubmitbtn">Link / Unlink device</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Lock/Unlock Device Modal -->
                        <div class="modal fade" id="lockunlockDeviceModal" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Lock / Unlock device</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <input type="hidden" name="uuid" id="lockunlockuuid">
                                            <input type="hidden" name="status" id="lockunlockstatus">

                                            <div class="form-group">
                                                <label id="lockunlocklable"></label>
                                                <input type="hidden" name="email" id="lockunlockemail"
                                                    class="form-control">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal" id="modal_cancel_btn"></button>
                                        <button type="button" class="btn btn-primary" onclick="lockUnlockDevice()"
                                            id="lockunlocksubmitbtn"></button>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <form action="/admindashboard?tab=accounts" method="POST" id="accountsform">
                            <input type="hidden" name="user" value="<%= user %>">
                            <input type="hidden" name="msg" id="accountsmsg">
                        </form>

                        <form action="/admindashboard?tab=devices" method="POST" id="devicesform">
                            <input type="hidden" name="user" value="<%= user %>">
                            <input type="hidden" name="msg" id="devicesmsg">
                        </form>


    </div>
</div>


<script type="text/javascript">
    function autorun() {
        if ('<%= tab %>' === '') {
            var statsbtn = document.getElementById('stats-btn');
            statsbtn.classList.add('active');
        }
        if ('<%= tab %>' === 'accounts') {
            var userTable = document.getElementById('usertable'),
                addNewAccountBtn = document.getElementById('addNewAccountBtn'),
                accountsbtn = document.getElementById('accounts-btn');
            userTable.style.display = 'block';
            addNewAccountBtn.style.display = 'block';
            accountsbtn.classList.add('active');
        }
        if ('<%= tab %>' === 'devices') {
            var deviceTable = document.getElementById('devicetable'),
                newDeviceBtn = document.getElementById('addNewDeviceBtn'),
                devicesbtn = document.getElementById('devices-btn');
            deviceTable.style.display = 'block';
            newDeviceBtn.style.display = 'block';
            devicesbtn.classList.add('active');
        }
        if ('<%= tab %>' === 'settings') {
            var settingsbtn = document.getElementById('settings-btn');
            settingsbtn.classList.add('active');
        }
        if ('<%= tab %>' === 'logs') {
            var logsbtn = document.getElementById('logs-btn');
            logsbtn.classList.add('active');
            document.getElementById('logs_container').style.display = 'block';
        }
    }
    if (document.addEventListener) document.addEventListener("DOMContentLoaded", autorun, false);
    else if (document.attachEvent) document.attachEvent("onreadystatechange", autorun);
    else window.onload = autorun;
</script>

<script>


    function uploadPhoto() {
        document.getElementById('uploadForm').submit();
    }

    function addUser() {
        var name = document.getElementById("newusername").value,
            email = document.getElementById("newuseremail").value,
            password = document.getElementById("newuserpassword").value,
            role = document.getElementById("newuserrole").value;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/api/user');
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("accountsmsg").value = this.responseText;
                document.getElementById("accountsform").submit();
            }
        };
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.setRequestHeader('x-access-token', '<%= user.token %>');
        xhr.send(`name=${name}&email=${email}&password=${password}&role=${role}`);
    }

    function editUser(name, email, role) {
        document.getElementById("name").value = name;
        document.getElementById("email").value = email;
        document.getElementById("password").value = 'change_password';
        document.getElementById("role").value = role;
    }

    function saveUser() {
        var name = document.getElementById("name").value,
            email = document.getElementById("email").value,
            password = document.getElementById("password").value,
            role = document.getElementById("role").value;
        var xhr = new XMLHttpRequest();
        xhr.open('PUT', '/api/user?email=' + document.getElementById("email").value);
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("accountsmsg").value = this.responseText;
                document.getElementById("accountsform").submit();
            }
        };
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.setRequestHeader('x-access-token', '<%= user.token %>');
        xhr.send(`name=${name}&email=${email}&password=${password}&role=${role}`);
    }

    function confirmDelete(email) {
        document.getElementById('deleteemaillable').innerText += email + " )?";
        document.getElementById('deleteEmail').value = email;
    }

    function deleteUser() {
        var email = document.getElementById('deleteEmail').value;
        var xhr = new XMLHttpRequest();
        xhr.open('DELETE', '/api/user?email=' + email);
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("accountsmsg").value = this.responseText;
                document.getElementById("accountsform").submit();
            }
        };
        xhr.setRequestHeader('x-access-token', '<%= user.token %>');
        xhr.send();
    }

    function addDevice() {
        var name = document.getElementById("newdevicename").value,
            uuid = document.getElementById("newdeviceuuid").value;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/api/device');
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("devicesmsg").value = this.responseText;
                document.getElementById("devicesform").submit();
            }
        };
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.setRequestHeader('x-access-token', '<%= user.token %>');
        xhr.send(`name=${name}&uuid=${uuid}`);
    }

    function confirmDeviceRename(name, uuid) {
        document.getElementById("devicerenameinput").value = name;
        document.getElementById('renameuuid').value = uuid;
    }

    function renameDevice() {
        var name = document.getElementById('devicerenameinput').value,
            uuid = document.getElementById('renameuuid').value;
        var xhr = new XMLHttpRequest();
        xhr.open('PUT', `/api/device?uuid=${uuid}`);
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("devicesmsg").value = this.responseText;
                document.getElementById("devicesform").submit();
            }
        };
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.setRequestHeader('x-access-token', '<%= user.token %>');
        xhr.send(`name=${name}`);
    }

    function confirmDeviceDelete(uuid) {
        document.getElementById('deleteuuidlable').innerText += uuid + ")?\nAll the device log history will be lost!";
        document.getElementById('deleteuuid').value = uuid;
    }

    function deleteDevice() {
        var uuid = document.getElementById('deleteuuid').value;
        var xhr = new XMLHttpRequest();
        xhr.open('DELETE', '/api/device?uuid=' + uuid);
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                document.getElementById("devicesmsg").value = this.responseText;
                document.getElementById("devicesform").submit();
            }
        };
        xhr.setRequestHeader('x-access-token', '<%= user.token %>');
        xhr.send();
    }

    function confirmLinkUnlink(status, uuid) {
        var linkunlinkuuid = document.getElementById('linkunlinkuuid'),
            linkunlinklable = document.getElementById('linkunlinklable'),
            linkunlinkstatus = document.getElementById('linkunlinkstatus'),
            linkunlinkemail = document.getElementById('linkunlinkemail'),
            linkunlinksubmitbtn = document.getElementById('linkunlinksubmitbtn');
        linkunlinkuuid.value = uuid;
        if (status === 'Deactivated') {
            linkunlinklable.innerText = 'Device deactivated, You need to activate it first.';
            linkunlinksubmitbtn.style.display = 'none';
            linkunlinkemail.type = 'hidden';
        } else if (status === 'Unregistered') {
            linkunlinklable.innerText = 'Type in the account you want to link the device to:';
            linkunlinksubmitbtn.innerText = 'Link device';
            linkunlinksubmitbtn.style.display = 'inline-block';
            linkunlinkstatus.value = status;
            linkunlinkemail.type = 'email';
        } else {
            linkunlinklable.innerText = `Device linked to ${status}, Are you sure you want to unlink it?`;
            linkunlinksubmitbtn.innerText = 'Unlink device';
            linkunlinksubmitbtn.style.display = 'inline-block';
            linkunlinkstatus.value = status;
            linkunlinkemail.type = 'hidden';
        }
    }

    function linkUnlinkDevice() {
        var linkunlinkuuid = document.getElementById('linkunlinkuuid').value,
            linkunlinkstatus = document.getElementById('linkunlinkstatus').value;
        if (linkunlinkstatus === 'Unregistered') {
            linkunlinkemail = document.getElementById('linkunlinkemail').value;
            var xhr = new XMLHttpRequest();
            xhr.open('PUT', '/api/device?uuid=' + linkunlinkuuid);
            xhr.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("devicesmsg").value = this.responseText;
                    document.getElementById("devicesform").submit();
                }
            };
            xhr.setRequestHeader('x-access-token', '<%= user.token %>');
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send(`email=${linkunlinkemail}`);
        } else {
            var xhr = new XMLHttpRequest();
            xhr.open('PUT', '/api/device?uuid=' + linkunlinkuuid);
            xhr.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("devicesmsg").value = this.responseText;
                    document.getElementById("devicesform").submit();
                }
            };
            xhr.setRequestHeader('x-access-token', '<%= user.token %>');
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send('email=Unregistered');
        }
    }

    function confirmLockUnlock(status, uuid) {
        var lockunlockuuid = document.getElementById('lockunlockuuid'),
            lockunlocklable = document.getElementById('lockunlocklable'),
            lockunlockstatus = document.getElementById('lockunlockstatus'),
            lockunlockemail = document.getElementById('lockunlockemail'),
            lockunlocksubmitbtn = document.getElementById('lockunlocksubmitbtn'),modal_cancel_btn
            modalCancelBtn = document.getElementById('modal_cancel_btn');
        lockunlockuuid.value = uuid;
        lockunlockstatus.value = status;
        if (status === 'Deactivated') {
            lockunlocklable.innerText = 'Device deactivated, Are you sure you want to activate it?';
            lockunlocksubmitbtn.innerText = 'Activate device';
            lockunlocksubmitbtn.style.display = 'inline-block';
            modalCancelBtn.innerText = 'Cancel';
            
        } else if (status === 'Unregistered') {
            lockunlocklable.innerText = 'Device activated, Are you sure you want to deactivate it?';
            lockunlocksubmitbtn.innerText = 'Deactivate device';
            lockunlocksubmitbtn.style.display = 'inline-block';
            lockunlockstatus.value = status;
            modalCancelBtn.innerText = 'Cancel';
            
        } else {
            lockunlocklable.innerText = 'Device registered to an account, You need to unregister it first.';
            lockunlocksubmitbtn.style.display = 'none';
            lockunlockstatus.value = status;
            modalCancelBtn.innerText = 'Ok';
        }
    }

    function lockUnlockDevice() {
        var lockunlockuuid = document.getElementById('lockunlockuuid').value,
            lockunlockstatus = document.getElementById('lockunlockstatus').value;
            console.log(lockunlockstatus)
        if (lockunlockstatus === 'Deactivated') {
            var xhr = new XMLHttpRequest();
            xhr.open('PUT', '/api/device?uuid=' + lockunlockuuid);
            xhr.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("devicesmsg").value = this.responseText;
                    document.getElementById("devicesform").submit();
                }
            };
            xhr.setRequestHeader('x-access-token', '<%= user.token %>');
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send('email=Unregistered');
        } else if (lockunlockstatus === 'Unregistered') {
            var xhr = new XMLHttpRequest();
            xhr.open('PUT', '/api/device?uuid=' + lockunlockuuid);
            xhr.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("devicesmsg").value = this.responseText;
                    document.getElementById("devicesform").submit();
                }
            };
            xhr.setRequestHeader('x-access-token', '<%= user.token %>');
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.send('email=Deactivated');
        } else {
            console.log("Request invalid");
        }
    }

</script>

<script>
    var searchIcon = document.getElementById('search_icon');
    var selectMenu = document.getElementById('log_select');
    selectMenu.addEventListener('change', () => {
        if (selectMenu.value === 'data') {
            document.getElementById('uuid_log_search').style.display = 'inline-block';
        } else {
            document.getElementById('uuid_log_search').style.display = 'none';
        }
    });
    searchIcon.addEventListener('click', () => {
        var loader = document.getElementById('loader_container');
        var type = selectMenu.value;
        var date = document.getElementById('log_date').value;
        var logerrmsg = document.getElementById('logerrormsg');
        var systemlogtable = document.getElementById('systemlogtable');
        var uuid = document.getElementById('uuid_log_search').value;
        if (!date) {
            logerrmsg.style.display = 'block';
            logerrmsg.innerText = 'insert a date before clicking search!';
        } else {
            loader.style.display = 'block';
            systemlogtable.innerHTML = '';
            logerrmsg.innerText = '';
            var xhr = new XMLHttpRequest();            
            xhr.open('GET', `/api/log/${type}?date=${date}&uuid=${uuid}`);          
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    loader.style.display = 'none';
                    var records = JSON.parse(xhr.responseText);
                    if (records.err) {
                        systemlogtable.style.display = 'none';
                        logerrmsg.style.display = 'block';
                        logerrmsg.innerText = records.error;
                    } else {
                        logerrmsg.style.display = 'none';
                        
                        systemlogtable.style.display = 'block';

                        if (type === 'system') {
                            
                        } else if (type === 'users') {
                            systemlogtable.innerHTML = `<thead>
                                    <th scope="col">Action</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Details</th>
                                    <th scope="col">Account</th>
                                    <th scope="col">Created on</th>
                                </thead>`;
                        var index = 1;
                        records.forEach(record => {
                            var row = systemlogtable.insertRow(index++);
                            var cell1 = row.insertCell(0);
                            var cell2 = row.insertCell(1);
                            var cell3 = row.insertCell(2);
                            var cell4 = row.insertCell(3);
                            var cell5 = row.insertCell(4);
                            cell1.innerHTML = record.action;
                            cell2.innerHTML = record.msg_type;
                            cell3.innerHTML = record.msg_details;
                            cell4.innerHTML = record.account;
                            cell5.innerHTML = record.date;
                        });
                        } else if (type === 'devices') {
                            systemlogtable.innerHTML = `<thead>
                                    <th scope="col">Action</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Details</th>
                                    <th scope="col">UUID</th>
                                    <th scope="col">Account</th>
                                    <th scope="col">Created on</th>
                                </thead>`;
                        var index = 1;
                        records.forEach(record => {
                            var row = systemlogtable.insertRow(index++);
                            var cell1 = row.insertCell(0);
                            var cell2 = row.insertCell(1);
                            var cell3 = row.insertCell(2);
                            var cell4 = row.insertCell(3);
                            var cell5 = row.insertCell(4);
                            var cell6 = row.insertCell(5);
                            cell1.innerHTML = record.action;
                            cell2.innerHTML = record.msg_type;
                            cell3.innerHTML = record.msg_details;
                            cell4.innerHTML = record.uuid;
                            cell5.innerHTML = record.account;
                            cell6.innerHTML = record.date;
                        });
                        }
                        else if (type === 'data') {
                            systemlogtable.innerHTML = `<thead>
                                    <th scope="col">Action</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Details</th>
                                    <th scope="col">UUID</th>
                                    <th scope="col">Account</th>
                                    <th scope="col">Created on</th>
                                </thead>`;
                        var index = 1;
                        records.forEach(record => {
                            var row = systemlogtable.insertRow(index++);
                            var cell1 = row.insertCell(0);
                            var cell2 = row.insertCell(1);
                            var cell3 = row.insertCell(2);
                            var cell4 = row.insertCell(3);
                            var cell5 = row.insertCell(4);
                            var cell6 = row.insertCell(5);
                            cell1.innerHTML = record.action;
                            cell2.innerHTML = record.msg_type;
                            cell3.innerHTML = record.msg_details;
                            cell4.innerHTML = record.uuid;
                            cell5.innerHTML = record.account;
                            cell6.innerHTML = record.date;
                        });
                        }
                        
                    }
                }
            };
            xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
            xhr.setRequestHeader('x-access-token', '<%= user.token %>');
            xhr.send();
        }
    });
</script>