<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome Admin <%= user.name %>
</p>
<a href="/ws" class="btn btn-secondary">viewer</a>
<a href="/wss" class="btn btn-secondary">esp</a>
<a href="/users/logout" class="btn btn-secondary">Logout</a>
<h2 style="margin: 10px 0px 0px 0px;">This is users table</h2>

<% if (msg.msg_type==='success' ) { %>
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= msg.msg_details %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
    </div>
    <% } %>

        <% if (msg.msg_type==='error' ) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <%= msg.msg_details %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <% } %>


                <table class="table" style="margin: 5px 0px 0px 0px;">
                    <thead>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Role</th>
                        <th scope="col">Created on</th>
                        <th scope="col">Actions</th>
                    </thead>
                    <tbody>
                        <% if(users){ %>
                            <% var i=0; %>
                                <% users.forEach(showuser=> { %>
                                    <% i++; %>
                                        <tr>
                                            <th scope="row">
                                                <%= i %>
                                            </th>
                                            <td>
                                                <%= showuser.name %>
                                            </td>
                                            <td>
                                                <a href="/dashboard?email=<%= showuser.email %>">
                                                    <%= showuser.email %>
                                                </a>
                                            </td>
                                            <td>
                                                <%= showuser.role %>
                                            </td>
                                            <td>
                                                <%= showuser.date %>
                                            </td>
                                            <td>
                                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                                    data-target="#editModal"
                                                    onclick="editUser('<%= showuser.name %>','<%= showuser.email %>','<%= showuser.role %>')">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                                                        <path
                                                            d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z" />
                                                    </svg>
                                                </button>

                                                <button type="button" class="btn btn-primary"  data-toggle="modal"
                                                data-target="#deleteModal"
                                                    onclick="confirmDelete('<%= showuser.email %>')"><svg
                                                        xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                                        fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                                        <path
                                                            d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                                        <path fill-rule="evenodd"
                                                            d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                                    </svg></button>

                                            </td>
                                        </tr>
                                        <% }); %>
                                            <% } %>
                    </tbody>
                </table>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addUserModal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                        class="bi bi-person-plus" viewBox="0 2 16 16">
                        <path
                            d="M6 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H1s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C9.516 10.68 8.289 10 6 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
                        <path fill-rule="evenodd"
                            d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z" />
                    </svg>
                    Add new account
                </button>

                <!-- Add User Modal -->
                <div class="modal fade" id="addUserModal" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add new account</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <form action="/admindashboard" method="GET" id="adduserform">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input class="form-control" type="text" name="name" id="newusername">
                                    </div>
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input class="form-control" type="text" name="email" id="newuseremail">
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Password</label>
                                        <input class="form-control" type="text" name="password" id="newuserpassword">
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Role</label>
                                        <input class="form-control" type="text" name="role" id="newuserrole">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onclick="addUser()">Create account</button>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Edit Modal -->
                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Edit user account</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">

                                <form action="/admindashboard" method="GET" id="edituserform">
                                    <input type="hidden" name="email" id="email">
                                    <div class="form-group">
                                        <label for="name">Name</label>
                                        <input class="form-control" type="text" name="name" id="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Password</label>
                                        <input class="form-control" type="text" name="password" id="password">
                                    </div>
                                    <div class="form-group">
                                        <label for="name">Role</label>
                                        <input class="form-control" type="text" name="role" id="role">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary" onclick="saveUser()">Save changes</button>
                            </div>
                        </div>
                    </div>
                </div>

                 <!-- Delete Modal -->
                 <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                 <div class="modal-dialog" role="document">
                     <div class="modal-content">
                         <div class="modal-header">
                             <h5 class="modal-title">Delete account</h5>
                             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                 <span aria-hidden="true">&times;</span>
                             </button>
                         </div>
                         <div class="modal-body">
                             <form>
                                 <input type="hidden" name="email" id="deleteEmail">
                                 <div class="form-group">
                                     <label id="deleteemaillable">Are you sure you to delete this account ( </label>
                                 </div>
                             </form>
                         </div>
                         <div class="modal-footer">
                             <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancle</button>
                             <button type="button" class="btn btn-primary" onclick="deleteUser()">Delete account</button>
                         </div>
                     </div>
                 </div>
             </div>

                <form action="/admindashboard" method="GET" id="addform">
                    <input type="hidden" name="user" value="<%= user %> ">
                    <input type="hidden" name="msg" id="msg__">
                </form>

                <form action="/admindashboard" method="GET" id="editform">
                    <input type="hidden" name="user" value="<%= user %> ">
                    <input type="hidden" name="msg" id="msg_">
                </form>

                <form action="/admindashboard" method="GET" id="deleteform">
                    <input type="hidden" name="user" value="<%= user %> ">
                    <input type="hidden" name="msg" id="msg">
                </form>
                <script>

                    function addUser() {
                        var name = document.getElementById("newusername").value,
                            email = document.getElementById("newuseremail").value,
                            password = document.getElementById("newuserpassword").value,
                            role = document.getElementById("newuserrole").value;
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', '/api/user');
                        xhr.onreadystatechange = function () {
                            if (this.readyState == 4 && this.status == 200) {
                                console.log(this.responseText)
                                document.getElementById("msg__").value = this.responseText;
                                document.getElementById("addform").submit();
                            }
                        };
                        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                        xhr.setRequestHeader('x-access-token', '<%= user.token %>');
                        xhr.send(`name=${name}&email=${email}&password=${password}&role=${role}`);
                    }

                    function editUser(name, email, role) {
                        document.getElementById("name").value = name;
                        document.getElementById("email").value = email;
                        document.getElementById("password").value = 'change_password';
                        document.getElementById("role").value = role;
                    }

                    function saveUser() {
                        var name = document.getElementById("name").value,
                            email = document.getElementById("email").value,
                            password = document.getElementById("password").value,
                            role = document.getElementById("role").value;
                        var xhr = new XMLHttpRequest();
                        xhr.open('PUT', '/api/user?email=' + document.getElementById("email").value);
                        xhr.onreadystatechange = function () {
                            if (this.readyState == 4 && this.status == 200) {
                                console.log(this.responseText)
                                document.getElementById("msg_").value = this.responseText;
                                document.getElementById("editform").submit();
                            }
                        };
                        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                        xhr.setRequestHeader('x-access-token', '<%= user.token %>');
                        xhr.send(`name=${name}&email=${email}&password=${password}&role=${role}`);
                    }

                    function confirmDelete(email) {
                        document.getElementById('deleteemaillable').innerText += email + " )?";
                        document.getElementById('deleteEmail').value = email;
                    }

                    function deleteUser() {
                        var email = document.getElementById('deleteEmail').value;
                        var xhr = new XMLHttpRequest();
                        xhr.open('DELETE', '/api/user?email=' + email);
                        xhr.onreadystatechange = function () {
                            if (this.readyState == 4 && this.status == 200) {
                                document.getElementById("msg").value = this.responseText;
                                document.getElementById("deleteform").submit();
                            }
                        };
                        xhr.setRequestHeader('x-access-token', '<%= user.token %>');
                        xhr.send();
                    }

                </script>