<!DOCTYPE html>
<html lang='en'>

<head>
    <meta name='format-detection' content='telephone=no'>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width,initial-scale=1,user-scalable=no' />
    <title>IQT | Incubator</title>
    <style>
        body {
            text-align: center;
            font-family: verdana;
        }

        .wrap {
            text-align: center;
            display: inline-block;
            width: 100%;
            height: 650px;
            background: #31373a;
            /* background-image: url('/images/image10.png'); */
            border-radius: 10px;
            position: relative;
            top: 40px;
        }

        .fan,
        .power,
        .door,
        .lamp,
        .water,
        .egg {
            display: inline-block;
            padding: 10px;
            border-radius: 50%;
            background: linear-gradient(145deg, #2c3234, #343b3e);
            box-shadow: 9px 9px 18px #272c2e,
                -9px -9px 18px #3b4246;
        }

        @-webkit-keyframes rotating

        /* Safari and Chrome */
            {
            from {
                -webkit-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            to {
                -webkit-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        @keyframes rotating {
            from {
                -ms-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            to {
                -ms-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        .rotating {
            -webkit-animation: rotating 2s linear infinite;
            -moz-animation: rotating 2s linear infinite;
            -ms-animation: rotating 2s linear infinite;
            -o-animation: rotating 2s linear infinite;
            animation: rotating 2s linear infinite;
        }

        @keyframes flipping

        /* Safari and Chrome */
            {

            0%,
            100% {
                -webkit-transform: rotate(20deg);
                -o-transform: rotate(20deg);
                transform: rotate(20deg);
            }

            50% {
                -webkit-transform: rotate(-20deg);
                -o-transform: rotate(-20deg);
                transform: rotate(-20deg);
            }
        }

        @keyframes rotating {
            from {
                -ms-transform: rotate(0deg);
                -moz-transform: rotate(0deg);
                -webkit-transform: rotate(0deg);
                -o-transform: rotate(0deg);
                transform: rotate(0deg);
            }

            to {
                -ms-transform: rotate(360deg);
                -moz-transform: rotate(360deg);
                -webkit-transform: rotate(360deg);
                -o-transform: rotate(360deg);
                transform: rotate(360deg);
            }
        }

        .flipping {
            -webkit-animation: flipping 1s linear infinite;
            -moz-animation: flipping 1s linear infinite;
            -ms-animation: flipping 1s linear infinite;
            -o-animation: flipping 1s linear infinite;
            animation: flipping 1s linear infinite;
        }

        .center {
            text-align: center;
            padding-top: 40px;
        }

        .temp-circle,
        .humidity-circle {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-color: transparent;
            display: inline-block;
            box-shadow: 6px 6px 12px #000000,
                -4px -4px 8px #aaaaaa;
        }

        .temp-icon,
        .humidity-icon {
            position: relative;
            top: -88px;
            left: 48px;
        }

        .temp-text,
        .humidity-text {
            position: relative;
            top: -190px;
            left: -46px;
        }

        .temp-text {
            color: yellow;
        }

        .humidity-text {
            color: skyblue;
        }

        .temp-text-min,
        .humidity-text-min {
            position: relative;
            top: -193px;
            left: -80px;
        }

        .temp-text-max,
        .humidity-text-max {
            position: relative;
            top: -219px;
            left: -13px;
        }

        .temp-text-min {
            color: rgb(255, 255, 163);
        }

        .temp-text-max {
            color: rgb(255, 150, 64);
        }

        .humidity-text-min {
            color: rgb(183, 221, 236);
        }

        .humidity-text-max {
            color: rgb(84, 186, 226);
        }

        .egg-flip-counter {
            position: relative;
            top: -90px;
            left: 85px;
            z-index: 1;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: rgb(255, 106, 106);
            font-weight: bolder;
            text-align: center;
            padding: 0px;
        }

        .new-egg {
            position: relative;
            top: 15px;
            left: 0px;
        }

        .hatched {
            position: relative;
            top: -343px;
            left: 268px;
        }

        .progress-bar-bg {
            position: relative;
            top: -200px;
            height: 85px;
            border-radius: 10px;
            box-shadow: 6px 6px 12px #000000,
                -4px -4px 8px #aaaaaa;
        }

        .progress-bar {
            width: 220px;
            height: 14px;
            background-color: rgba(255, 255, 255, 0.425);
            border-radius: 7px;
            position: relative;
            top: -470px;
            left: 50px;
        }

        .day-bubble {
            position: relative;
            top: -540px;
            left: 182px;
        }

        .day-bubble-text {
            position: relative;
            top: -50px;
            left: -132px;
            font-weight: bold;
            text-align: center;
        }

        .side-bar1 {
            position: absolute;
            top: -20px;
            left: -10px;
            background-color: transparent;
            height: 500px;
            width: 170px;
            border-radius: 50px 50% 700% 0px;
            border-width: 10px;
            border-style: solid;
            border-color: white;
        }
        .fan-div {
            position: absolute;
            top: 20px;
            left: 22px;
        }
    </style>
</head>

<body class='invert'>
    <div class='wrap container'>
        <!-- <div class="side-bar1"></div>
        <div class="fan-div">
            <svg class="fan" width="100px" height="100px" viewBox="-35 -35 270 270">
                <path id="fanpath" fill="white" transform-origin="100px 100px" d="m51.002 0c-10.745 0-21.362 4.7013-29.9 
                13.236-20.372 20.38-20.129 53.77 0.53515 
                74.432 12.474 12.479 32.972 20.881 51.222 
                21.086-2.1824 2.978-4.8504 5.5997-8.707 
                6.959-5.3912 1.9027-11.048 1.0129-17.115-0.33008-3.9968-0.8802-8.1328-1.7949-12.775-1.7949-6.207 0-12.022 1.6996-17.771 
                5.1953-8.863 5.391-14.926 15.031-16.221 25.791-1.4764 12.294 
                3.1326 24.489 12.973 34.33 9.7695 9.771 22.814 15.148 36.726 
                15.148 14.197 0 27.586-5.5686 37.699-15.68 12.64-12.642 
                20.864-32.798 21.008-51.283 3.0056 2.1886 5.669 4.8717 7.039 8.7598 
                2.1166 6.015 0.98174 11.158-0.33203 17.115-1.8009 8.1576-4.0391 
                18.312 3.4004 30.551 6.1833 10.167 17.761 16.484 30.217 16.484 10.745 
                0 21.362-4.702 29.9-13.236 20.368-20.376 20.13-53.766-0.53516-74.432-12.474-12.48-32.974-20.88-51.222-21.084
                 2.1804-2.9794 4.8498-5.6036 8.705-6.9629 5.4-1.8952 11.056-0.99877 
                 17.113 0.33203 3.9982 0.88088 8.1355 1.7949 12.775 1.7949 6.2097 
                 0 12.023-1.7015 17.773-5.1973 8.863-5.3896 14.926-15.03 16.221-25.789 
                 1.4757-12.294-3.1299-24.49-12.973-34.332-9.7702-9.771-22.812-15.148-36.724-15.148-14.198 0-27.587 
                 5.5698-37.701 15.682-12.64 12.642-20.863 32.798-21.006 51.283-3.0076-2.1893-5.6711-4.8723-7.039-8.7617-2.1173-6.0151-0.98233-11.159 
                 0.33008-17.115 1.8009-8.1583 4.0384-18.312-3.4004-30.551-6.1833-10.165-17.759-16.482-30.215-16.482zm48.998 87.932c3.2258 0 6.2552 
                 1.2544 8.5351 3.5332 4.7028 4.708 4.7035 12.362 0 17.07-4.5578 4.5582-12.512 
                 4.5582-17.07 0-4.7042-4.708-4.7042-12.362 0-17.07 2.2786-2.2788 5.31-3.5332 
                 8.5351-3.5332z" />

            </svg>
        </div> -->

        <div class="row">
            <div class="col-4 center">
                <svg class="fan" width="85px" height="85px" viewBox="-35 -35 270 270">
                    <path id="fanpath" fill="white" transform-origin="100px 100px" d="m51.002 0c-10.745 0-21.362 4.7013-29.9 
                    13.236-20.372 20.38-20.129 53.77 0.53515 
                    74.432 12.474 12.479 32.972 20.881 51.222 
                    21.086-2.1824 2.978-4.8504 5.5997-8.707 
                    6.959-5.3912 1.9027-11.048 1.0129-17.115-0.33008-3.9968-0.8802-8.1328-1.7949-12.775-1.7949-6.207 0-12.022 1.6996-17.771 
                    5.1953-8.863 5.391-14.926 15.031-16.221 25.791-1.4764 12.294 
                    3.1326 24.489 12.973 34.33 9.7695 9.771 22.814 15.148 36.726 
                    15.148 14.197 0 27.586-5.5686 37.699-15.68 12.64-12.642 
                    20.864-32.798 21.008-51.283 3.0056 2.1886 5.669 4.8717 7.039 8.7598 
                    2.1166 6.015 0.98174 11.158-0.33203 17.115-1.8009 8.1576-4.0391 
                    18.312 3.4004 30.551 6.1833 10.167 17.761 16.484 30.217 16.484 10.745 
                    0 21.362-4.702 29.9-13.236 20.368-20.376 20.13-53.766-0.53516-74.432-12.474-12.48-32.974-20.88-51.222-21.084
                     2.1804-2.9794 4.8498-5.6036 8.705-6.9629 5.4-1.8952 11.056-0.99877 
                     17.113 0.33203 3.9982 0.88088 8.1355 1.7949 12.775 1.7949 6.2097 
                     0 12.023-1.7015 17.773-5.1973 8.863-5.3896 14.926-15.03 16.221-25.789 
                     1.4757-12.294-3.1299-24.49-12.973-34.332-9.7702-9.771-22.812-15.148-36.724-15.148-14.198 0-27.587 
                     5.5698-37.701 15.682-12.64 12.642-20.863 32.798-21.006 51.283-3.0076-2.1893-5.6711-4.8723-7.039-8.7617-2.1173-6.0151-0.98233-11.159 
                     0.33008-17.115 1.8009-8.1583 4.0384-18.312-3.4004-30.551-6.1833-10.165-17.759-16.482-30.215-16.482zm48.998 87.932c3.2258 0 6.2552 
                     1.2544 8.5351 3.5332 4.7028 4.708 4.7035 12.362 0 17.07-4.5578 4.5582-12.512 
                     4.5582-17.07 0-4.7042-4.708-4.7042-12.362 0-17.07 2.2786-2.2788 5.31-3.5332 
                     8.5351-3.5332z" />

                </svg>
            </div>
            <div class="col-4 center">
                <svg class="power" fill="white" viewBox="-8.5 -6 80 80" width="85px" height="85px">
                    <path
                        d="M 59,12 H 56 V 11 A 3,3 0 0 0 53,8 V 3 A 1,1 0 0 0 52,2 h -6 a 1,1 0 0 0 -1,1 v 5 a 3,3 0 0 0 -3,3 v 1 H 22 V 11 A 3,3 0 0 0 19,8 V 3 A 1,1 0 0 0 18,2 h -6 a 1,1 0 0 0 -1,1 v 5 a 3,3 0 0 0 -3,3 v 1 H 5 a 3,3 0 0 0 -3,3 v 8 a 3,3 0 0 0 2,2.816 V 59 a 3,3 0 0 0 3,3 h 50 a 3,3 0 0 0 3,-3 V 25.816 A 3,3 0 0 0 62,23 V 15 A 3,3 0 0 0 59,12 Z M 47,4 h 4 v 4 h -4 z m -3,7 a 1,1 0 0 1 1,-1 h 8 a 1,1 0 0 1 1,1 v 1 H 44 Z M 13,4 h 4 v 4 h -4 z m -3,7 a 1,1 0 0 1 1,-1 h 8 a 1,1 0 0 1 1,1 v 1 H 10 Z m 48,48 a 1,1 0 0 1 -1,1 H 7 A 1,1 0 0 1 6,59 V 26 h 52 z m 2,-36 a 1,1 0 0 1 -1,1 H 5 A 1,1 0 0 1 4,23 v -8 a 1,1 0 0 1 1,-1 h 54 a 1,1 0 0 1 1,1 z"
                        id="power1" />
                    <path
                        d="m 11,46 h 4 v 4 a 1,1 0 0 0 1,1 h 4 a 1,1 0 0 0 1,-1 v -4 h 4 a 1,1 0 0 0 1,-1 v -4 a 1,1 0 0 0 -1,-1 h -4 v -4 a 1,1 0 0 0 -1,-1 h -4 a 1,1 0 0 0 -1,1 v 4 h -4 a 1,1 0 0 0 -1,1 v 4 a 1,1 0 0 0 1,1 z m 1,-4 h 4 a 1,1 0 0 0 1,-1 v -4 h 2 v 4 a 1,1 0 0 0 1,1 h 4 v 2 h -4 a 1,1 0 0 0 -1,1 v 4 h -2 v -4 a 1,1 0 0 0 -1,-1 h -4 z"
                        id="power2" />
                    <path
                        d="m 39,46 h 14 a 1,1 0 0 0 1,-1 V 41 A 1,1 0 0 0 53,40 H 39 a 1,1 0 0 0 -1,1 v 4 a 1,1 0 0 0 1,1 z m 1,-4 h 12 v 2 H 40 Z"
                        id="power3" />
                </svg>
            </div>
            <div class="col-4 center">
                <svg class="door" viewBox="-10 -20 125 125" width="85px" height="85px" fill="white">
                    <path id="door1"
                        d="m 44.938957,52.81724 c 0.553209,-0.956194 0.479289,-2.186608 -0.205069,-3.3741 L 25.471708,16.081273 c -0.684358,-1.185108 -1.712087,-1.864698 -2.818506,-1.864698 -1.106418,0 -2.131764,0.67959 -2.816122,1.864698 L 0.57251565,49.44314 c -0.68435821,1.185108 -0.75827844,2.415522 -0.20506901,3.371716 0.55320943,0.958578 1.65485926,1.509403 3.02357576,1.509403 H 41.917766 c 1.368716,0 2.467981,-0.550825 3.021191,-1.507019 z M 22.653202,49.075923 c -1.383023,0 -2.501365,-1.118341 -2.501365,-2.501365 0,-1.380639 1.120726,-2.501365 2.501365,-2.501365 1.380638,0 2.501364,1.120726 2.501364,2.501365 0,1.383024 -1.120726,2.501365 -2.501364,2.501365 z M 24.76112,40.556021 H 20.547668 L 20.151837,25.023235 h 5.002729 z" />
                    <path id="door2"
                        d="M 99.13202,0.546103 C 98.700421,0.193193 98.163904,0.004816 97.615463,0.0072 97.615463,0.0048 35.61547,0 35.61547,0 34.299214,0 33.230947,1.068266 33.230947,2.384523 V 19.98469 l 4.769047,8.25999 V 4.771431 h 34.8975 L 54.305365,8.393522 c -1.120726,0.219376 -1.92908,1.199416 -1.92908,2.339218 V 77.399292 H 37.999994 V 59.093306 h -4.769047 v 20.690509 c 0,1.318642 1.068267,2.384524 2.384523,2.384524 h 16.760815 v 6.459674 c 0,0.712972 0.317142,1.385408 0.867967,1.838467 0.431599,0.35291 0.968116,0.546056 1.516557,0.546056 0.152609,0 0.302834,-0.01431 0.455444,-0.04531 l 42.854654,-8.345832 c 1.120726,-0.219376 1.92908,-1.199415 1.92908,-2.339217 V 2.386951 C 100.00239,1.673978 99.682845,0.999158 99.13202,0.546099 Z M 62.794268,56.515636 c -2.112688,0 -3.824775,-2.95204 -3.824775,-6.597976 0,-3.645937 1.712087,-6.597976 3.824775,-6.597976 2.110303,0 3.822391,2.952039 3.822391,6.597976 0,3.645936 -1.712088,6.597976 -3.822391,6.597976 z" />
                </svg>
            </div>
        </div>
        <div class="row">
            <div class="col-4 center">
                <svg class="lamp" width="85px" height="85px" viewBox="0 -7 100 125" fill="white">
                    <path id="lamp"
                        d="m 49.971051,2.2263821e-4 c -1.020892,0 -1.833778,0.84743900179 -1.819297,1.85839096179 v 7.33332 
            c -0.0273,1.0310654 0.807189,1.8798784 1.848239,1.8798974 1.041043,0 1.879153,-0.848832 1.851856,-1.8798974 
            v -7.33332 C 51.866549,0.82549664 51.014236,-0.01570936 49.971051,2.2263821e-4 Z 
            M 82.878832,14.346798 77.477573,19.705129 c -0.716501,0.716464 -0.713295,1.871569 0.0077,2.585282 0.720203,
            0.713 1.887531,0.716471 2.611401,0 l 5.233652,-5.184894 
            c 1.208371,-1.165478 0.340157,-3.191677 -1.345575,-3.143956 -0.48077,-9.1e-5 -0.938016,0.211803 -1.105631,
            0.385239 z m -68.205073,2.7658 5.233644,5.184873 
            c 0.723947,0.708857 1.887762,0.706092 2.607783,0 0.720035,-0.712999 0.723422,-1.868804 0.0077,
            -2.585268 L 17.28922,14.530884 c -0.419177,-0.318725 -0.887866,-0.548073 -1.327475,-0.560378 -1.661115,-0.0055 
            -2.478837,1.995323 -1.287705,3.142092 z m 35.326233,1.213864 
            c -17.350977,0 -31.456123,13.96955 -31.456158,31.155861 0.0112,9.81717 4.717424,19.026295 12.633832,24.893164 
            l 5.067255,13.628242 H 63.736982 L 68.688498,74.461435 C 76.680646,68.604239 81.440869,59.354233 81.456169,
            49.482323 81.456127,32.295333 67.350959,18.326462 49.999992,18.326462 Z M 1.8916296,47.681202
            C 0.85446293,47.681202 0,48.486956 0,49.514537
            c 0,1.027594 0.85446293,1.851939 1.8916296,1.829752 h 7.4001878 c 1.0371656,0 1.8880136,-0.802158 
            1.8880136,-1.829752 0,-1.027581 -0.850848,-1.854801 -1.8880136,-1.833335 z m 88.8165564,0 c -1.037165,
            0 -1.888021,0.805754 -1.888021,1.833335 0,1.027594 0.850856,1.851939 1.888021,1.829752 h 7.403793 
            c 1.037165,0 1.888021,-0.802158 1.888021,-1.829752 0,-1.027581 -0.850856,-1.854801 -1.888021,-1.833335 z 
            M 37.047888,91.666698 v 7.319001 h 25.904219 v -7.319001 z m 0.705295,10.985662 3.190089,6.33071 C 41.256483,
            109.60669 41.898163,110 42.599811,110 h 14.803961 c 0.701004,0 1.340017,-0.39676 1.652927,-1.01693 l 3.193725,-6.33071 z" />
                </svg>
            </div>
            <div class="col-4 center">
                <svg class="water" viewBox="0 -15 100 180" fill="white" width="85px" height="85px">

                    <path id="water" d="m 26.62115,103.54115 c 3.750462,6.78643 7.655802,13.18602
                        10.683809,20.21717 15.047292,34.93177 -49.961647,35.01171
                        -35.0720153,0.10268 3.108692,-7.28674 7.126249,-13.51166
                        10.9230823,-20.32079 H 26.62115 Z m -4.104734,12.27221
                        c 2.541114,4.09239 5.656298,8.73837 7.06133,13.39522
                        1.365153,4.5256 0.558303,8.78475 -6.163594,11.0811 
                        -1.224186,0.41743 -1.896561,1.81084 -1.505193,3.11345
                        0.393224,1.30162 1.70366,2.01905 2.926919,1.60162 
                        10.177441,-3.47561 11.330217,-10.16039 9.173979,
                        -17.30898 -1.572894,-5.21638 -4.782674,-10.06762
                        -7.608504,-14.6179 -1.689749,-2.71674 -5.573758,0.0198
                        -3.884937,2.73549 z M 67.385632,29.861538 c 0,-7.935092 
                        0.745641,-16.50274 -7.915478,-16.919182 0,-1.551295 0,
                        -3.1025893 0,-4.6538846 4.096387,0 8.192775,0 12.290086,
                        0 2.96866,3.9917216 9.67664,2.7680546 9.58297,-3.0236446 -0.089,
                        -5.46209767 -6.28786,-6.7824755 -9.58297,-3.1075237 -10.137558,
                        0 -20.274193,0 -30.411756,0 -3.531592,-3.9453428 -9.706315,
                        -2.24306207 -9.648815,3.1854835 0.05472,5.1877594 6.260044,7.0518794 
                        9.648815,2.9466711 3.865462,0 7.729996,0 11.59453,0 0,1.5512954 
                        0,3.1025903 0,4.6538853 -7.720722,0 -7.220845,9.12126 -7.220845,16.919183 
                        7.221772,-9.88e-4 14.442618,-9.88e-4 21.663463,-9.88e-4 z M 34.89461,98.520166 
                        c 0.03802,-5.396971 0.324595,-8.163051 -5.0711,-8.322916 -0.05194,-7.213722 
                        -0.06956,-7.09925 0,-12.663977 0.04081,-3.253576 0.227217,-5.188747 
                        2.847161,-5.393021 11.127114,19.04777 38.130627,18.174428 46.310419,-0.814134
                        7.70681,0 13.31117,0 21.01891,0 0,-7.683451 0,-15.365914 0,-23.048378 -9.39656,
                        0 -16.69067,0 -26.08723,0 -1.91325,-2.03484 -4.297635,-4.146654 -6.52621,
                        -5.393019 1.943859,0 3.887719,0 5.83158,0 0,-3.077921 0,-6.156826 0,-9.234746
                        -11.085381,0 -22.17076,0 -33.257067,0 0,3.07792 0,6.156825 0,9.234746 1.920674,
                        0 3.842276,0 5.76295,0 -2.381599,1.205905 -3.850622,2.545031 -5.76295,4.58086
                        -0.273587,0.291114 -6.55589,-0.0039 -7.290402,0 C 13.725458,47.585973 9.2377017,
                        62.419 9.5539497,77.836229 c 0.0102,5.69499 0.172499,5.247956 -0.0037,12.361021
                        -5.004326,-0.07991 -5.008035,2.137473 -5.000616,8.322916 z" />
                </svg>
            </div>
            <div class="col-4 center">
                <svg class="egg" fill="white" width="85px" height="85px" viewBox="0 0 17 17">
                    <path id="egg" transform-origin="8.5px 17.5px"
                        d="m 8.722263,1.0619799 c -0.0908,-0.005 -0.1829398,-0.005 -0.2754299,5.3e-4 -1.43836,0.0874 -2.64023,1.29488 -3.53881,2.81998 -0.89857,1.5251 -1.50323,3.40127 -1.68568,4.97696 -0.44493,3.8425501 2.29102,7.0155901 5.2425801,7.0155901 2.9516698,0 5.7080698,-3.17585 5.2420598,-7.0176601 -0.18013,-1.48485 -0.77462,-3.43398 -1.66812,-5.0214 -0.44677,-0.79372 -0.96866,-1.49635 -1.56633,-2.00194 -0.5229499,-0.44239 -1.11469,-0.73578 -1.75027,-0.77205 z m -0.0279,0.52916 c 0.4971003,0.0276 0.9743001,0.25633 1.4361,0.64699 0.52777,0.44647 1.02188,1.10114 1.44746,1.85725 0.85119,1.51223 1.43364,3.42624 1.60351,4.82658 0.43166,3.5586301 -2.15175,6.4233801 -4.7170199,6.4233801 -2.5654299,0 -5.1289999,-2.86299 -4.7165199,-6.4254401 0.17248,-1.48936 0.76094,-3.31744 1.61542,-4.76767 0.8544699,-1.45022 1.96413,-2.49047 3.11713,-2.56057 0.0718,-0.004 0.14293,-0.004 0.2139198,-5.3e-4 z m 3.15589,7.93492 a 0.26460982,0.26460982 0 0 0 -0.0279,10e-4 0.26460982,0.26460982 0 0 0 -0.2346,0.31471 C 11.885463,11.47037 11.087903,12.98814 9.6695229,13.79294 a 0.26510165,0.26510165 0 1 0 0.2619902,0.46095 C 11.526263,13.34901 12.447723,11.59977 12.109163,9.7476999 a 0.26460982,0.26460982 0 0 0 -0.25889,-0.22169 z" />
                </svg>
            </div>
        </div>
        <div class="row">
            <div class="col-6 center">
                <div class="temp-circle">
                    <svg>
                        <circle cx="75.5" cy="75.5" r="64" stroke="yellow" stroke-width="12" fill="transparent" />
                    </svg>
                    <div class="temp-icon">
                        <svg fill="yellow" viewbox="0 0 100 100">
                            <path
                                d="m 35,27 a 5.33,5.33 0 0 0 -3.41,1.18 3.52,3.52 0 0 1 -4.52,0 6.56,6.56 0 0 0 -1.68,-0.91 7.48,7.48 0 0 0 -3.27,-5 V 4.12 a 4.12,4.12 0 0 0 -8.24,0 v 18.12 a 7.48,7.48 0 0 0 -3.27,5 A 6.19,6.19 0 0 0 8.92,28.16 3.32,3.32 0 0 1 6.66,29 3.31,3.31 0 0 1 4.41,28.18 5.37,5.37 0 0 0 1,27 1,1 0 0 0 1,29 3.29,3.29 0 0 1 3.25,29.82 5.37,5.37 0 0 0 6.66,31 5.33,5.33 0 0 0 10.07,29.82 l 0.5,-0.34 a 7.49,7.49 0 0 0 14.86,0 l 0.49,0.33 a 5.52,5.52 0 0 0 6.82,0 A 3.32,3.32 0 0 1 35,29 1,1 0 0 0 35,27 Z M 14,24.76 a 5.6,5.6 0 0 1 1.91,-1.34 V 4.12 a 2.12,2.12 0 0 1 4.24,0 v 19.3 a 5.6,5.6 0 0 1 1.85,1.34 5.44,5.44 0 0 1 1.27,2.24 5.41,5.41 0 0 0 -3,1.16 3.51,3.51 0 0 1 -4.51,0 A 5.41,5.41 0 0 0 12.76,27 5.44,5.44 0 0 1 14,24.76 Z M 18,34 a 5.5,5.5 0 0 1 -5.47,-5 3.31,3.31 0 0 1 2.05,0.81 5.52,5.52 0 0 0 6.82,0 A 3.37,3.37 0 0 1 23.47,29 5.5,5.5 0 0 1 18,34 Z" />
                        </svg>
                        <div class="temp-text">
                            <h2 id="temp_text">--°C</h2>
                        </div>
                        <div class="temp-text-min">
                            <h6 id="temp_text_min">--°</h6>
                        </div>
                        <div class="temp-text-max">
                            <h6 id="temp_text_max">--°</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 center">
                <div class="humidity-circle">
                    <svg>
                        <circle cx="75.5" cy="75.5" r="64" stroke="skyblue" stroke-width="12" fill="transparent" />
                    </svg>
                    <div class="humidity-icon">
                        <svg fill="skyblue" viewbox="5 0 250 250">
                            <path
                                d="M 83.685,36.24 58.645,0.85 C 58.275,0.31 57.665,0 57.015,0 c -0.65,0 -1.26,0.31 -1.63,0.85 l -25.04,35.39 c -1.57,2.22 -2.83,4.59 -3.82,7.05 -4.03,-3.7 -10.31,-3.61 -14.21,0.3 -2.45,2.45 -6.44,2.45 -8.89,0 -0.78,-0.78 -2.05,-0.78 -2.83,0 -0.78,0.78 -0.78,2.05 0,2.83 4.01,4.01 10.53,4.01 14.54,0 2.45,-2.45 6.44,-2.45 8.89,0 0.36,0.36 0.75,0.68 1.15,0.97 -0.37,1.43 -0.66,2.88 -0.85,4.35 -3.87,-2.01 -8.77,-1.4 -12.01,1.85 -2.45,2.45 -6.44,2.45 -8.89,0 -0.78,-0.78 -2.05,-0.78 -2.83,0 -0.78,0.78 -0.78,2.05 0,2.83 4.01,4.01 10.53,4.01 14.54,0 2.45,-2.45 6.44,-2.45 8.89,0 0.01,0.01 0.01,0.01 0.02,0.02 0.02,1.81 0.17,3.61 0.47,5.41 -3.9,-2.14 -8.91,-1.56 -12.21,1.74 -2.45,2.45 -6.44,2.45 -8.89,0 -0.78,-0.78 -2.05,-0.78 -2.83,0 -0.78,0.78 -0.78,2.05 0,2.83 4.01,4.01 10.53,4.01 14.54,0 2.45,-2.45 6.44,-2.45 8.89,0 0.65,0.65 1.36,1.18 2.12,1.62 0.43,1.19 0.91,2.36 1.48,3.51 5.43,11.04 15.84,17.93 27.85,18.42 0.52,0.02 1.03,0.03 1.55,0.03 0.52,0 1.03,-0.01 1.54,-0.03 12.01,-0.5 22.42,-7.38 27.85,-18.42 5.63,-11.45 4.58,-24.98 -2.72,-35.31 z m -0.87,33.54 c -4.77,9.71 -13.9,15.76 -24.43,16.19 -0.91,0.04 -1.83,0.04 -2.75,0 -10.52,-0.43 -19.65,-6.49 -24.42,-16.19 -0.06,-0.12 -0.11,-0.25 -0.17,-0.37 2.72,0.07 5.45,-0.93 7.52,-3 2.45,-2.45 6.44,-2.45 8.89,0 2,2 4.64,3.01 7.27,3.01 2.63,0 5.27,-1 7.27,-3.01 0.78,-0.78 0.78,-2.05 0,-2.83 -0.78,-0.78 -2.05,-0.78 -2.83,0 -2.45,2.45 -6.44,2.45 -8.89,0 -4.01,-4.01 -10.53,-4.01 -14.54,0 -1.72,1.71 -4.18,2.22 -6.35,1.54 -0.62,-2.03 -1.02,-4.11 -1.21,-6.19 3.55,1.13 7.59,0.29 10.39,-2.52 2.45,-2.45 6.44,-2.45 8.89,0 2,2 4.64,3.01 7.27,3.01 2.63,0 5.27,-1 7.27,-3.01 0.78,-0.78 0.78,-2.05 0,-2.83 -0.78,-0.78 -2.05,-0.78 -2.83,0 -2.45,2.45 -6.44,2.45 -8.89,0 -4.01,-4.01 -10.53,-4.01 -14.54,0 -2.07,2.07 -5.24,2.38 -7.65,0.95 0.1,-1.83 0.35,-3.64 0.77,-5.42 3.37,0.82 7.08,-0.08 9.71,-2.7 1.19,-1.19 2.76,-1.84 4.44,-1.84 1.68,0 3.26,0.65 4.44,1.84 2,2 4.64,3.01 7.27,3.01 2.63,0 5.27,-1 7.27,-3.01 0.78,-0.78 0.78,-2.05 0,-2.83 -0.78,-0.78 -2.05,-0.78 -2.83,0 -2.45,2.45 -6.44,2.45 -8.89,0 -1.94,-1.94 -4.52,-3.01 -7.27,-3.01 -2.75,0 -5.33,1.07 -7.27,3.01 -1.55,1.55 -3.71,2.11 -5.71,1.71 0.9,-2.36 2.08,-4.63 3.58,-6.75 l 23.42,-33.08 23.4,33.08 c 6.46,9.14 7.38,21.11 2.4,31.24 z" />
                        </svg>
                        <div class="humidity-text">
                            <h2 id="humidity_text">--%</h2>
                        </div>
                        <div class="humidity-text-min">
                            <h6 id="humidity_text_min">--%</h6>
                        </div>
                        <div class="humidity-text-max">
                            <h6 id="humidity_text_max">--%</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-12">
                <div class="progress-bar-bg">
                    <div class="new-egg">
                        <svg fill="yellow" viewBox="0 0 100 100">
                            <path
                                d="m 8.722263,1.0619799 c -0.0908,-0.005 -0.1829398,-0.005 -0.2754299,5.3e-4 -1.43836,0.0874 -2.64023,1.29488 -3.53881,2.81998 -0.89857,1.5251 -1.50323,3.40127 -1.68568,4.97696 -0.44493,3.8425501 2.29102,7.0155901 5.2425801,7.0155901 2.9516698,0 5.7080698,-3.17585 5.2420598,-7.0176601 -0.18013,-1.48485 -0.77462,-3.43398 -1.66812,-5.0214 -0.44677,-0.79372 -0.96866,-1.49635 -1.56633,-2.00194 -0.5229499,-0.44239 -1.11469,-0.73578 -1.75027,-0.77205 z m -0.0279,0.52916 c 0.4971003,0.0276 0.9743001,0.25633 1.4361,0.64699 0.52777,0.44647 1.02188,1.10114 1.44746,1.85725 0.85119,1.51223 1.43364,3.42624 1.60351,4.82658 0.43166,3.5586301 -2.15175,6.4233801 -4.7170199,6.4233801 -2.5654299,0 -5.1289999,-2.86299 -4.7165199,-6.4254401 0.17248,-1.48936 0.76094,-3.31744 1.61542,-4.76767 0.8544699,-1.45022 1.96413,-2.49047 3.11713,-2.56057 0.0718,-0.004 0.14293,-0.004 0.2139198,-5.3e-4 z m 3.15589,7.93492 a 0.26460982,0.26460982 0 0 0 -0.0279,10e-4 0.26460982,0.26460982 0 0 0 -0.2346,0.31471 C 11.885463,11.47037 11.087903,12.98814 9.6695229,13.79294 a 0.26510165,0.26510165 0 1 0 0.2619902,0.46095 C 11.526263,13.34901 12.447723,11.59977 12.109163,9.7476999 a 0.26460982,0.26460982 0 0 0 -0.25889,-0.22169 z" />
                        </svg>
                    </div>
                    <div class="hatched">
                        <svg fill="yellow">
                            <path
                                d="m 24,30.8 c -0.4,0 -0.8,-0.2 -1.1,-0.5 L 20.3,27 c -0.5,-0.6 -0.4,-1.5 0.2,-2 0.1,0 0.1,-0.1 0.2,-0.1 v 0 l 2.6,-1.5 c 0.4,-0.2 1,-0.2 1.4,0 l 2.6,1.5 c 0.7,0.4 0.9,1.2 0.5,1.9 0,0.1 -0.1,0.1 -0.1,0.2 l -2.6,3.2 c -0.3,0.4 -0.7,0.6 -1.1,0.6 z m -1.5,-4.3 1.4,1.7 c 0.1,0.1 0.2,0.1 0.3,0 0,0 0,0 0,0 l 1.4,-1.7 c 0.1,-0.1 0.1,-0.2 0,-0.3 0,0 0,0 0,0 l -1.4,-0.8 c -0.1,0 -0.1,0 -0.2,0 l -1.4,0.8 c -0.2,0 -0.2,0.2 -0.1,0.3 -0.1,0 0,0 0,0 z m -0.8,0.1 z" />
                            <path
                                d="m 30.9,21.3 c 0.1,1 -0.6,1.9 -1.6,2 -1,-0.1 -1.7,-1 -1.6,-2 -0.1,-1 0.6,-1.9 1.6,-2 1,0.1 1.7,1 1.6,2 z" />
                            <path
                                d="m 20.3,21.3 c 0.1,1 -0.6,1.9 -1.6,2 -1,-0.1 -1.7,-1 -1.6,-2 -0.1,-1 0.6,-1.9 1.6,-2 1,0.1 1.7,1 1.6,2 z" />
                            <path
                                d="m 59,52.2 -4,-2.4 c -0.3,-0.2 -0.6,-0.6 -0.5,-1 l 0.2,-4.7 c 0,-1.1 -0.5,-2.2 -1.5,-2.8 L 49,39 c -0.3,-0.2 -0.6,-0.6 -0.5,-1 l 0.2,-4.7 c 0,-1.1 -0.5,-2.2 -1.5,-2.8 l -1,-0.6 c -1.1,-0.6 -2.5,-0.3 -3.1,0.8 v 0 c -0.6,-0.4 -1.3,-0.6 -2,-0.4 -0.2,0 -0.3,0.1 -0.5,0.2 L 39.9,31 C 39.5,23.7 36.2,17.5 31.4,14.3 31.7,13.7 31.9,13.1 32,12.5 32.2,10.7 31.9,9.6 31,9.1 29.8,8.4 28.3,9.3 27.2,10.2 26.9,8.6 26,6.9 24.6,6.7 22.6,6.5 21.3,9.5 21.2,9.8 21.1,10 21.1,10.2 21,10.4 20,9.3 18,8.2 16.7,9.1 c -1.2,0.8 -0.9,2.5 -0.8,3.3 0.1,0.7 0.3,1.3 0.7,1.9 C 11.7,17.5 8.3,24 8,31.5 L 7.3,31.1 C 6.6,30.7 5.8,30.7 5.1,31.1 4.4,31.5 4,32.2 4,33 c 0.5,15.4 8.1,25 20,25 6.8,0.1 13.1,-3.6 16.2,-9.7 0.1,0.4 0.3,0.8 0.5,1.2 2.4,4.4 9.6,7.8 17.4,8.2 h 0.1 c 1.2,0 2.3,-1 2.3,-2.2 V 55.1 C 60.6,53.9 60,52.8 59,52.2 Z M 30,10.6 c 0,0 0.2,0.3 0.1,1.5 -0.1,0.4 -0.2,0.8 -0.3,1.1 -0.6,-0.3 -1.3,-0.6 -2,-0.8 0.2,-0.3 0.4,-0.5 0.6,-0.7 0.5,-0.5 1,-0.8 1.6,-1.1 z m -5.6,-2 c 0.7,0.8 1,1.7 1,2.7 0,0.2 0,0.4 0,0.6 -0.5,-0.1 -0.9,-0.1 -1.4,-0.1 -0.4,0 -0.8,0 -1.3,0.1 0,-0.5 0.2,-1 0.4,-1.5 C 23.3,9.7 23.8,9 24.4,8.6 Z M 17.9,12 c -0.1,-0.4 -0.1,-0.9 0,-1.3 1,0.2 1.8,0.9 2.2,1.8 -0.6,0.2 -1.2,0.4 -1.7,0.7 C 18.2,12.8 18,12.4 17.9,12 Z M 10,32.5 c 0,-10.3 6.3,-18.7 14,-18.7 7.6,0 13.8,8.2 14,18.3 l -1.4,0.8 c -0.4,0.2 -0.8,0.2 -1.1,0 l -4.1,-2.5 c -1,-0.6 -2.2,-0.6 -3.2,0 l -4.1,2.5 c -0.4,0.2 -0.8,0.2 -1.1,0 l -4.1,-2.5 c -1,-0.6 -2.2,-0.6 -3.2,0 l -4.1,2.5 c -0.4,0.2 -0.8,0.2 -1.2,0 L 10,32.5 c 0,0.1 0,0.1 0,0 z M 24,56 C 13.2,56 6.4,47.4 6,33 v 0 c 0,-0.1 0,-0.1 0.1,-0.2 0,0 0.1,0 0.1,0 0,0 0.1,0 0.1,0 l 3.2,1.8 c 1,0.6 2.2,0.6 3.2,0 l 4.1,-2.5 c 0.4,-0.2 0.8,-0.2 1.1,0 l 4.1,2.5 c 1,0.6 2.2,0.6 3.2,0 l 4.1,-2.5 c 0.4,-0.2 0.8,-0.2 1.1,0 l 4.1,2.5 c 1,0.6 2.2,0.6 3.2,0 l 3.9,-2.3 c 0.1,0 0.2,0 0.2,0.1 0.1,0.1 0.2,0.2 0.2,0.3 C 41.6,47.1 34.7,56 24,56 Z m 34.5,-0.7 c 0,0.1 0,0.2 -0.1,0.2 -0.1,0.1 -0.1,0.1 -0.2,0.1 -7,-0.3 -13.7,-3.3 -15.7,-7.1 -0.5,-0.9 -0.8,-1.9 -0.9,-3 1.5,-3.9 2.3,-8 2.4,-12.2 0.2,-0.5 0.5,-1 0.8,-1.5 0,-0.1 0.1,-0.1 0.2,-0.1 0.1,0 0.2,0 0.2,0 l 1,0.6 c 0.3,0.2 0.6,0.6 0.5,1 L 46.5,38 c 0,1.1 0.5,2.2 1.5,2.8 l 4.1,2.4 c 0.3,0.2 0.6,0.6 0.5,1 l -0.2,4.7 c 0,1.1 0.5,2.2 1.5,2.8 L 58,54 c 0.3,0.2 0.6,0.6 0.5,1 z" />
                        </svg>
                    </div>
                    <div class="progress-bar">
                        <svg fill="transparent">
                            <line x1="0" y1="0" x2="160" y2="0" stroke="yellow" stroke-width="10px" />
                        </svg>
                    </div>
                    <div class="day-bubble">
                        <svg fill="white" width="56px" height="52px" viewBox="0 0 100 100">
                            <path
                                d="M 78.1,13.7 H 21.9 a 11.1,11.1 0 0 0 -11,11 v 35.6 a 11.1,11.1 0 0 0 11,11 h 14.3 l 9.8,13 a 5,5 0 0 0 8,0 l 9.8,-13 h 14.3 a 11.1,11.1 0 0 0 11,-11 V 24.7 a 11.1,11.1 0 0 0 -11,-11 z m 5,46.6 a 5.1,5.1 0 0 1 -5,5 H 62.3 a 3,3 0 0 0 -2.4,1.2 L 50,79.6 40.1,66.5 A 3,3 0 0 0 37.7,65.3 H 21.9 a 5.1,5.1 0 0 1 -5,-5 V 24.7 a 5.1,5.1 0 0 1 5,-5 h 56.2 a 5.1,5.1 0 0 1 5,5 z" />
                        </svg>
                        <div class="day-bubble-text">16</div>
                    </div> -->
    </div>
    </div>
    </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script>

        var temp = document.getElementById('temp_text'),
            tempMin = document.getElementById('temp_text_min'),
            tempMax = document.getElementById('temp_text_max'),
            humidity = document.getElementById('humidity_text'),
            humidityMin = document.getElementById('humidity_text_min'),
            humidityMax = document.getElementById('humidity_text_max'),
            fan = document.getElementById('fanpath'),
            power1 = document.getElementById('power1'),
            power2 = document.getElementById('power2'),
            power3 = document.getElementById('power3'),
            door1 = document.getElementById('door1'),
            door2 = document.getElementById('door2'),
            lamp = document.getElementById('lamp'),
            water = document.getElementById('water'),
            egg = document.getElementById('egg');


        var socket = io();
        socket.on('connect', () => socket.emit('payload', { token: '<%= token %>', client: 'viewer', request: { destination: '<%= destination %>', msg: 'register' } }));

        socket.on('payload', payload => {
            // console.log(payload);
            // list.innerHTML += '<li>' + payload + '</li>'
            var payloadObj = JSON.parse(payload);
            if (payloadObj["CMD"] === "getParameters") {
                tempMin.innerText = payloadObj["TMPLO"] + "°";
                tempMax.innerText = payloadObj["TMPHI"] + "°";;
                humidityMin.innerText = payloadObj["HLO"] + "%";
                humidityMax.innerText = payloadObj["HHI"] + "%";
            }
            else if (payloadObj["CMD"] === "getData") {
                temp.innerText = Math.round(parseFloat(payloadObj["TEMP"]) * 10) / 10 + "°C";
                humidity.innerText = Math.round(parseFloat(payloadObj["HUMI"]) * 10) / 10 + "%";

                var a = payloadObj.GROP & 1, // turn eggs
                    b = payloadObj.GROP >> 1; b &= 1, // water
                        c = payloadObj.GROP >> 2; c &= 1, // lamp
                            d = payloadObj.GROP >> 3; d &= 1, // door
                                e = payloadObj.GROP >> 4; e &= 1, // battery
                                    f = payloadObj.GROP >> 5; f &= 1; // fan
                if (f !== 1) {
                    fan.style.fill = "#98c1d9";
                    fan.classList.add("rotating");
                } else {
                    fan.style.fill = "white";
                    fan.classList.remove("rotating");
                }
                if (e !== 1) {
                    power1.style.fill = "#ee6c4d";
                    power2.style.fill = "#ee6c4d";
                    power3.style.fill = "#ee6c4d";
                } else {
                    power1.style.fill = "white";
                    power2.style.fill = "white";
                    power3.style.fill = "white";
                }
                if (d == 1) {
                    door1.style.fill = "#ee6c4d";
                    door2.style.fill = "#ee6c4d";
                } else {
                    door1.style.fill = "white";
                    door2.style.fill = "white";
                }

                if (c !== 1) {
                    lamp.style.fill = "yellow";
                } else {
                    lamp.style.fill = "white";
                }
                if (b !== 1) {
                    water.style.fill = "#ee6c4d";
                } else {
                    water.style.fill = "white";
                }
                if (a == 1) {
                    egg.style.fill = "#98c1d9";
                    egg.classList.add("flipping");
                } else {
                    egg.style.fill = "white";
                    egg.classList.remove("flipping");
                }
            }
        });

    </script>
    <script type="text/javascript">
        function autorun() {
            socket.emit('payload', { token: '<%= token %>', client: 'viewer', request: { destination: '<%= destination %>', msg: "{'CMD':'getParameters','DATASET':''}" } });
            socket.emit('payload', { token: '<%= token %>', client: 'viewer', request: { destination: '<%= destination %>', msg: "{'CMD':'getData','DATASET':''}" } });
        }
        if (document.addEventListener) document.addEventListener("DOMContentLoaded", autorun, false);
        else if (document.attachEvent) document.attachEvent("onreadystatechange", autorun);
        else window.onload = autorun;
    </script>
</body>

</html>